body{
/*     
    background-color:#BFB73F;
    background-color:#E1C08D;
    background-color:#04BFBF;
    background-color:#0396A6;
    background-color:#024E6C; */
    background-image: url(areia.jpg)
}